{{extend 'layout.html'}}
<link rel="stylesheet" href="{{=URL('static','css/fixme.css')}}"/>


        <section class="create-recipe">
                    {{=form.custom.begin}}
            <section class="create-recipe__left-rail">
                <div>
                    <div class="add-photo">
                        <label class="icon--picture gray">
                    {{=form.custom.widget.f_image}}
                        </label>
                    </div>

                    </div>

            </section>
            <section class="create-recipe__right-col">
                <div class="create-recipe__right_data">
                {{=T('Recipe title')}}{{=form.custom.widget.f_name}}
                {{=T('Recipe title')}}{{=form.custom.widget.f_name}}
                </div>
            </section>
             {{=form.custom.submit}}
             {{=form.custom.end}}
        </section>


