{{extend 'layout.html'}}
<style>
    .selected {
    border: 2px solid #0F0;
    box-shadow: 0px 0px 3px 2px #0F0;
    transition: border 0.2s, box-shadow 0.2s;
}
    .unselected {
    border: 2px solid #FFF;
    box-shadow: 0px 0px 0px 0px #0F0;
    transition: border 0.2s, box-shadow 0.2s;

}
</style>
        <div class="">
        </div>
        <div class="container">
            <div class="row">
                {{for ingr in ingredients:}}
                <div class="col-md-2">
                <img src="{{=URL('default', 'download', args=ingr.f_image)}}" id='{{=ingr.id}}' class="img-responsive img-rounded fruits-main checked">
                    <p>{{=ingr.id}}</p>
                </div>
            {{pass}}
            </div>
              <div class="row">
                <div class="col-md-4">
                    {{for smuz in smuzs:}}
                    <div class="thumbnail">
                        <p>{{=smuz.f_image}}</p>
                    </div>
                        <div class="smuz-recipe">
                            <p>{{=smuz.f_name}}</p>
                            </div>
                    {{pass}}

                </div>
            </div>
            </div>
        <script>
        $('img').click(function() {
    if ($(this).hasClass("selected")) {
        $(this).removeClass('selected').addClass('unselected');
    } else {
        $(this).removeClass('unselected').addClass('selected');
        ajax('{{=URL('default', 'filter_smuz')}}' + '?ingr=' + '{{if request.vars.ingr is not None: request.vars.ingr + '%' }}'+ this.id,[], ':eval');

        addQSParm('ingr', 'lal')
    }
});
    function addQSParm(name, value) {
        var re = new RegExp("([?&]" + name + "=)[^&]+", "");
        var myUrl = window.location.href

        function add(sep) {
            myUrl += sep + name + "=" + encodeURIComponent(value);
        }

        function change() {
            myUrl = myUrl.replace(re, "$1" + encodeURIComponent(value));
        }
        if (myUrl.indexOf("?") === -1) {
            add("?");
        } else {
            if (re.test(myUrl)) {
                change();
            } else {
                add("&");
            }
        }
    }
</script>

