{{extend 'layout.html'}}

    <script src="{{=URL('static','js/rating.min.js')}}"></script>

<style>
    .selected {
    border: 2px solid #0F0;
    box-shadow: 0px 0px 3px 2px #0F0;
    transition: border 0.2s, box-shadow 0.2s;
}
    .unselected {
    border: 2px solid #FFF;
    box-shadow: 0px 0px 0px 0px #0F0;
    transition: border 0.2s, box-shadow 0.2s;

}
</style>
        <div class="">
        </div>
        <div class="container">
            <div class="row">
                <h2 align="center"> С чем замутим смузяшку ? </h2>
            </div>
            <div class="row">
                {{for ingr in ingredients:}}
                <div class="col-md-2 col-lg-2 col-sm-2">
                <img src="{{=URL('default', 'download', args=ingr.f_image)}}" id='{{=ingr.id}}' class="img-responsive img-rounded fruits-main checked">
                </div>
            {{pass}}
            </div>

              <div class="row">
                   <div class="smuz-recipe" id="content">
                </div>
              </div>
            </div>

        <script>
        $('.fruits-main').click(function() {
    if ($(this).hasClass("selected")) {
        $(this).removeClass('selected').addClass('unselected');
        removeParam("ingr", this.id);
        ajax('{{=URL('default', 'filter_smuz')}}'+ '?' + window.location.href.split("?")[1],[], 'content');
    } else {
        $(this).removeClass('unselected').addClass('selected');
        addQSParam("ingr", this.id);
        ajax('{{=URL('default', 'filter_smuz')}}'+ '?' + window.location.href.split("?")[1],[], 'content');
    }
});
</script>




