{{extend 'layout.html'}}

<style>
#suggestions { position: relative; }
.suggestions { background: white; border: solid 1px #55A6C8; }
.suggestions DIV { padding: 2px 4px 2px 4px; }
</style>

<div class="container-full" style="">
    <div class="row">
        <div class="col-lg-12 text-center v-center">
             <h1 class="">Критикуй</h1>
            <p class="lead" contenteditable="false">Сервис Критукуй - оставляй отзывы обо всех товарах и услугах</p>
            <br class="">
            <form class="col-lg-12">

                <div class="input-group input-group-lg col-sm-offset-4 col-sm-4">
                {{=form}}


                </div>
                <div style="position: absolute;" id="suggestions"
                         class="suggestions"></div>
            </form>
        </div>
    </div>
    <script>
    jQuery("#product_s_str").keyup(function(){
      ajax('{{=URL('default', 'product_selector')}}', ['product_s_str'], 'suggestions')});
    </script>
    <!-- /row -->
    <div class="container">

  	<hr>

  	<div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3 align="center">Самое горячее</h3></div>
            <div class="panel-body">
                <h4 align="center"><b>{{=db(db.t_product.id == top_prod).select(db.t_product.f_name).first().f_name}}</b></h4>
                <img src="{{=URL('default', 'download', args=top_img.f_image)}}" class="img-rounded img-responsive" style="width:150px; height:auto">
                <div class="col-md-1"><b>
                {{=latest_comm.f_user}}
                    </b>
                </div>
                <img src="{{=latest_comm.f_stars}}" alt="zvvezda moya" class=""  style="height: auto; width: 100px; padding: 1px; position: relative; left: 170px;"/>
                <p>
                {{=latest_comm.f_text}}
                </p>
          </div>
          </div>
        </div>
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3 align="center">Статистика</h3></div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
            Aliquam in felis sit amet augue.
            </div>
          </div>
        </div>
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3 align="center">Hello.</h3></div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
            Aliquam in felis sit amet augue.
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center v-center" style="font-size:39pt;"> <a href="#" class=""><i class="icon-google-plus"></i></a>  <a href="#" class=""><i class="icon-facebook"></i></a>
            <a href="#" class=""><i class="icon-twitter"></i>

                </a> <a href="#" class=""><i class="icon-github"></i></a>  <a href="#" class=""><i class="icon-pinterest"></i></a>

        </div>
    </div>
</div>