{{extend "layout.html"}}

<div class="table-responsive">

<table align="center" class="table table-hover">
    {{if len(rows) == 0:}}
    {{=DIV(TABLE(TBODY(
    TR(TD(IMG(_src=URL('static', 'images/prod_404.jpg'), _class="img-responsive col-md-8 col-md-offset-11"))),
    TR(TD(P("Искали, искали, не нашли, попробуйте что-нибудь другое !", _align="center",_class="col-md-10 col-md-offset-10 h3"))),
    TR(TD(IMG(_src=URL('static', 'images/sad_but_true.png'),_class='img-responsive col-md-offset-12 col-md-3', _align='center')))),
    TR(TD(BUTTON(T('Поискать еще'),_onclick="window.location= '" + URL('default', 'index') + ";'", _class="btn btn-primary btn-block")), _class="col-md-5 col-md-offset-12")))

    }}
    {{else:}}
        {{for row in rows:}}

        <tr>
            <td onclick='window.location="{{=URL('default', 'product_review', vars=dict(product_s_str=row.f_name))}}";'>
                <img src="{{=URL('default', 'download', args=row.f_image)}}" class="img-thumbnail img-responsive" width="200" height="150">
            </td>
                <td>
                {{=row.f_name}}
            </td>
            </tr>
    {{pass}}
    {{pass}}
</table>
</div>