{{extend "layout.html"}}

<div class="table-responsive">

<table align="center" class="table table-hover">
    {{for row in rows:}}
        <tr>
            <td onclick='window.location="{{=URL('default', 'product_review', vars=dict(product_s_str=row.f_name))}}";'>
                <img src="{{=URL('default', 'download', args=row.f_image)}}" class="img-thumbnail img-responsive" width="200" height="150">

            </td>
                <td>
                {{=row.f_name}}
            </td>
            </tr>
    {{pass}}
</table>
<script>


</script>
</div>