{{extend "layout.html"}}

<div class="table-responsive">

<table align="center" class="table table-hover">
    {{if len(rows) == 0:}}
    {{=DIV(P("Ииииии ничаво", _align='center', _class='h3'), IMG(_src=URL('static', 'images/sad_but_true.png'), _class='img-responsive col-md-offset-5 col-md-2', _align='center'), _class='col-md-10')

    }}
    {{else:}}
        {{for row in rows:}}

        <tr>
            <td onclick='window.location="{{=URL('default', 'product_review', vars=dict(product_s_str=row.f_name))}}";'>
                <img src="{{=URL('default', 'download', args=row.f_image)}}" class="img-thumbnail img-responsive" width="200" height="150">
            </td>
                <td>
                {{=row.f_name}}
            </td>
            </tr>
    {{pass}}
    {{pass}}
</table>
</div>