{{extend 'layout.html'}}
        <style>
            .table td.Zhead{
                text-align: center;
                font-size: 25px;
                font-weight: 500
            }
            .table td.Chead{
                text-align: center;
                font-size: 15px;
                font-weight: 600
            }
        </style>
        <div class="center text-danger text">
        <h2>Config</h2>
        </div>
        <p>
      <textarea class="form-control" placeholder="config goes here"    style=" height: 400px;">
          {{=config.f_str_data}}
      </textarea>
        </p>