{{extend 'layout.html'}}
 <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js" > </script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>

        <a href="{{=URL('default', 'zones', vars={'filename':request.vars.filename})}}">Create ACLs</a>
        <div class="table-responsive">
 <table id='data' class="table table-hover center-block">
     <thead>
     <tr>
         <th>Source IP</th>
     </tr>
     </thead>
     <tbody>
     {{m = 0}}
     {{for i in range(0,len(src_ip),5):}}
        {{if m == len(src_ip):}}
            {{break}}
        <tr>
            {{for j in range(0,16):}}
            <td>
            {{if m < len(src_ip):}}
            {{=A(src_ip[m], _href=URL('default', 'graph', vars={'ip': src_ip[m], 'filename':request.vars.filename, 'ports':ports.f_ports}))}}
                  {{m = m + 1 }}
            </td>
            {{else:}}
            {{break}}
            {{pass}}
        </tr>
     {{pass}}
</tbody>
</table>
</div>

        <script>
            $(document).ready(function() {
    $('#data').DataTable();
} );
        </script>