{{extend 'layout.html'}}
        <form action="#" enctype="multipart/form-data" method="post">

               <div class="col-md-5">
                      Segment File <input type='file' name="segment_file" />
                    <table class="table table-responsive table-hover">
                 <thead>
                 <tr>
                     <td>Files in DB</td>
                 </tr>
                 </thead>
                 <tbody>
                 {{for row in rows:}}
                 <tr>
                     <td><a onclick="getInputFields()" href="{{=URL('default', 'zones', vars={'segment_file':row.f_name, 'filename':request.vars.filename})}}">{{=row.f_name}}</a></td>
                 </tr>
                 {{pass}}

                 </tbody>
             </table>
               </div>
            <label>Max host to same ip
            <input type="text" value="5" name="maxH" class="input-data"></label>
            <label>Obj prefix
            <input type="text" value="auto_" name="objpref" class="input-data"></label>


                      <input type="submit" />
                      <input type="hidden" name="_formname" value="test" />
        </form>

        <script>
           function getInputFields() {
                   event.preventDefault();
           let e = document.getElementsByClassName('input-data');
           for (i = 0; i < e.length ; i++ ) {
               addQSParam(e[i].name, e[i].value)
           }
           window.location.href = window.location.href
           }

           function addQSParam(name, value) {
    var url=window.location.href,
    separator = (url.indexOf("?")=== -1)?"?":"&";
        if (!(url.indexOf(name) === -1)) {
           newParam=separator + value;
           newUrl=url.replace(newParam,"");
           newUrl+=newParam;
        }
        else {
        newParam=separator + name + '=' + value;
    newUrl=url.replace(newParam,"");
    newUrl+=newParam;
        }
    window.history.pushState(null,"", newUrl);
    }

        </script>
