{{extend 'layout.html'}}
        <form action="#" enctype="multipart/form-data" method="post">

               <div class="col-md-5">
                      Segment File <input type='file' name="segment_file" />
                    <table class="table table-responsive table-hover">
                 <thead>
                 <tr>
                     <td>Files in DB</td>
                 </tr>
                 </thead>
                 <tbody>
                 {{for row in rows:}}
                 <tr>
                     <td><a onclick="getInputFields(this)" href="{{=URL('default', 'zones', vars={'segment_file':row.f_name, 'filename':request.vars.filename})}}">{{=row.f_name}}</a></td>
                 </tr>
                 {{pass}}

                 </tbody>
             </table>
               </div>
            <div class="col-md-7">
            <label>Max host to same ip
            <input type="text" value="5" name="maxH" class="input-data"></label>
            <label>Obj prefix
            <input type="text" value="auto_" name="objpref" class="input-data"></label>
            </div>

                      <input type="submit" />
                      <input type="hidden" name="_formname" value="test" />
        </form>
        <div class="col-md-7">
        <table class="table hover">
            <thead>
            <tr>
                <td style="font-weight: 700">
                    Settings
                </td>
                <td style="font-weight: 700">
                    Value
                </td>
            </tr>
            </thead>
            <tbody>
            {{for name, value in zip(set_name, set_value):}}
            <tr>
                <td>
                    {{=name}}
                </td>
                <td>
                    <input id="{{=name}}" type="text" placeholder="{{=value}}" class="settings">
                </td>
            </tr>
            {{pass}}
            <tr>
                <td>
                    <button class="btn btn-round btn-primary" id="set_settings">Set settings</button>
                </td>
            </tr>
            </tbody>
        </table>
            </div>

        <script>
            $("#set_settings").click(function(){
                let objects = document.getElementsByClassName('settings');
                ses_sett_value = [];
                ses_sett_name = [];
                for (i = 0; i < objects.length; i++) {
                    ses_sett_name.push(objects[i].id);
                    if (objects[i].value === '') {
                        ses_sett_value.push(objects[i].placeholder);
                    }
                    else {
                        ses_sett_value.push(objects[i].value)
                    }

                }

                $.ajax({
                    type: "POST",
                    data: {ses_sett_value:ses_sett_value,
                    ses_sett_name:ses_sett_name},
                    url: "{{=URL('default', 'set_session_settings')}}"
                });
            });

           function getInputFields(obj) {
               event.preventDefault();
               window.history.pushState(null,"", obj.getAttribute("href"));
           let e = document.getElementsByClassName('input-data');
           for (i = 0; i < e.length ; i++ ) {
               addQSParam(e[i].name, e[i].value, obj.getAttribute("href"))
           }
           window.location.href = window.location.href
           }

           function addQSParam(name, value) {
    var url=window.location.href,
    separator = (url.indexOf("?")=== -1)?"?":"&";
        if (!(url.indexOf(name) === -1)) {
           newParam=separator + value;
           newUrl=url.replace(newParam,"");
           newUrl+=newParam;
        }
        else {
        newParam=separator + name + '=' + value;
    newUrl=url.replace(newParam,"");
    newUrl+=newParam;
        }
    window.history.pushState(null,"", newUrl);
    }

        </script>
