{{extend 'layout.html'}}
        <form action="#" enctype="multipart/form-data" method="post">

               <div class="col-md-5">
                      Segment File <input type='file' name="segment_file" />
                    <table class="table table-responsive table-hover">
                 <thead>
                 <tr>
                     <td>Files in DB</td>
                 </tr>
                 </thead>
                 <tbody>
                 {{for row in rows:}}
                 <tr>
                     <td><a href="{{=URL('default', 'zones', vars={'segment_file':row.f_name, 'filename':request.vars.filename})}}">{{=row.f_name}}</a></td>
                 </tr>
                 {{pass}}

                 </tbody>
             </table>
               </div>
            <label>Max host to same ip
            <input type="text" value="5" name="maxH"></label>
            <label>Obj prefix
            <input type="text" value="auto_" name="objpref"></label>


                      <input type="submit" />
                      <input type="hidden" name="_formname" value="test" />
        </form>
